{% extends 'lay.html' %}
{% block content %}
    <div>
        <div class="container">
            <div style="margin-bottom: 10px;">
                <a href="/admin/add/" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span>
                    添加管理员
                </a>
                <div style="width: 300px;float: right">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="搜索管理员" name="q"
                                   value="{{ search_data }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
<span class="glyphicon glyphicon-th-list" aria-hidden="true">
</span>
                    管理员列表
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in queryset %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.username }}</td>
                            <td>******</td>
                            <td>
                                <a href="/admin/{{ item.id }}/edit/" class="btn btn-primary btn-xs">编辑</a>
                                <a href="/admin/{{ item.id }}/del/" class="btn btn-danger btn-xs">删除</a>
                                <a href="/admin/{{ item.id }}/reset/" class="btn btn-info btn-xs">重置密码</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
{% endblock %}