{% extends 'lay.html' %}

{% block content %}
    <div>
        <div class="container">
            <div style="margin-bottom: 10px;">
                <a href="/user/add/" class="btn btn-success">
<span class="glyphicon glyphicon-plus" aria-hidden="true">
</span>
                    添加员工
                </a>
                <a href="/user/add/form/" class="btn btn-success">
<span class="glyphicon glyphicon-plus" aria-hidden="true">
</span>
                    添加员工(form式)
                </a>
                </a>
                <a href="/user/add/modelform/" class="btn btn-success">
<span class="glyphicon glyphicon-plus" aria-hidden="true">
</span>
                    添加员工(modelform式)
                </a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
<span class="glyphicon glyphicon-th-list" aria-hidden="true">
</span>
                    员工列表
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>密码</th>
                        <th>年龄</th>
                        <th>工资收入</th>
                        <th>入职时间</th>
                        <th>部门</th>
                        <th>性别</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in queryset %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.password }}</td>
                            <td>{{ item.age }}</td>
                            <td>{{ item.account }}</td>
                            <td>{{ item.creat_time|date:'Y-m-d' }}</td>
                            <td>{{ item.depart.title }}</td>
                            <td>{{ item.get_gender_display }}</td>
                            <td>
                                <a href="/user/{{ item.id }}/edit/" class="btn btn-primary btn-xs">编辑</a>
                                <a href="/user/{{ item.id }}/del/" class="btn btn-danger btn-xs">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </div>
    </div>
{% endblock %}