{% extends 'lay.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="static/plugins/bootstrap-3.4.1/css/bootstrap.css">
    <link rel="stylesheet" href="static/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
{% endblock %}
{% block content %}
    <div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">新建员工</div>
                <div class="panel-body">
                    <form method='post'>
                        {% csrf_token %}
                        <div class="form-group">
                            <label>姓名</label>
                            <input type="text" class="form-control" placeholder="姓名" name="name">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input type="password" class="form-control" placeholder="密码" name="pwd">
                        </div>
                        <div class="form-group">
                            <label>年龄</label>
                            <input type="text" class="form-control" placeholder="年龄" name="age">
                        </div>
                        <div class="form-group">
                            <label>工资收入</label>
                            <input type="text" class="form-control" placeholder="工资" name="account">
                        </div>
                        <div class="form-group">
                            <label>入职时间</label>
                            <input type="text" class="form-control" placeholder="入职时间" name="creat_time" id="dt"
                                   readonly>
                        </div>
                        <div class="form-group">
                            <label>部门</label>
                            <select name="depart" class="form-control">
                                {% for item in depart_list %}
                                    <option value="{{ item.id }}">{{ item.title }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>性别</label>
                            <select name="gender" class="form-control">
                                {% for item in gender_choices %}
                                    <option value="{{ item.0 }}">{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">添 加</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <!--引入datetimepicker的中文汉化包-->
    <script src="{% static 'plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script>
            $('#dt').datetimepicker({
                //格式
                format: 'yyyy-mm-dd',
                //可选的最小视图
                minView: 'month',
                //起始时间
                startDate: '0',
                //设置语言为中文
                language: 'zh-CN',
                //完成选择后，自动关闭
                autoclose: true
            });
    </script>

{% endblock %}
